################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoSolution/DemoProject/obj/Debug
/DemoSolution/.vs/DemoSolution
/DemoSolution/DemoProject/bin/Debug
/DemoSolution/DemoProjectTests/bin/Debug
/DemoSolution/DemoProjectTests/obj/Debug
